PRX301_Project/src/java/user.xsd

<?xml version="1.0"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<xsd:schema version="1.0"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
<xsd:element name="user" type="User"/>
<xsd:complexType name="User">
    <xsd:sequence>
        <xsd:element name="Username" type="xsd:string"/>
        <xsd:element name="Password" type="xsd:string"/>
        <xsd:element name="Email" type="xsd:string"/>
        <xsd:element name="RoleType" type="xsd:int"/>
    </xsd:sequence>
</xsd:complexType> 
</xsd:schema>
